
# Ignore build files
build/

# Ignore .vscode files
.vscode/

# Ignore .out files
*.out

out/

# Ignore Visual Studio files
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore .cache files
*.cache
.cache/